* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #2450A6;
    --cor2: #3C5FA6;
    --cor3: #6382BF;
    --cor4: #F2F2F2;
    --cor5: #FFFFFF;
}

/* Para dispositivos móveis */
@media (max-width: 600px) {
    #corpo-principal {
        min-height: 70vh; /* Altura mínima para dispositivos móveis */
        align-items: flex-start; /* Alinha os itens no início */
    }

    #bloco-opcoes {
        flex-direction: column; /* Alinha os botões verticalmente */
        align-items: center; /* Alinha os botões horizontalmente */
        gap: 1rem; /* Espaçamento entre os botões */
        justify-content: center;
    }
    
    .button-save {
        height: 3vh;
        width: 15vh;
    }
    .col {
        flex: 0 0 50%; /* Cada coluna ocupa 50% do espaço em telas menores */
        max-width: 50%;
      }

    #bloco-diario-borda {
        width: 100%; /* Define a largura total */
    }

}

/* Para telas maiores */
@media (min-width: 601px) {
    #corpo-principal {
        min-height: 70vh; /* Altura automática para telas maiores */
    }

    #bloco-opcoes {
        flex-direction: row; /* Alinha os botões horizontalmente */
        align-items: center; /* Alinha os botões verticalmente */
        gap: 2rem; /* Espaçamento entre os botões */
        margin-top: 35px;
        justify-content: center;
    }

    #bloco-diario-borda {
        width: 100%; /* Define a largura total */
    }
}

body {
    width: 100%;
    background-color: var(--cor1);
}

h1 {
    margin-top: 2rem;
    text-align: center;
    color: var(--cor5);
}

header {
    margin-bottom: 1rem;
}

main {
    margin-top: 2rem;
}

#bloco-botao-prox {
    font-size: 24px;
    color: white; 
    display: flex;
    justify-content: right;
    margin: 1.5rem;
    gap: 10px;
}

#linha-horizontal {
    background-color: var(--cor5);
    min-height: 1rem; /* Define uma altura mínima */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    margin-bottom: 2rem; /* Adiciona margem inferior para separar do main */
}

#corpo-principal {
    background-color: var(--cor5);
    border-radius: 0.8rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    width: 80%; /* Define uma largura específica */
    max-width: 1200px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o elemento */
    padding: 2rem; /* Adiciona espaçamento interno */
}

.dataViagem {
    display: flex;
    flex-direction: column;
}

#bloco-opcoes {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.button-navegation {
    all: unset;
    color: var(--cor5);
    background-color: var(--cor3);
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    transition: 1s ease;
}

.button-navegation.pagina-atual {
    background-color: var(--cor1);
    box-shadow: 1px 1px 5px var(--cor2);
    border-radius: 15px;
}

#bloco-principal {
    margin: 10vh 10vh 0 10vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.col {
    flex: 1; /* Cada coluna ocupa a mesma largura */
    margin-right: 15px; /* Espaçamento entre as colunas */
}

.col:last-child {
    margin-right: 0; /* Remove o espaçamento na última coluna de cada linha */
}

.col label {
    display: block;
    margin-bottom: 5px;
}

.col input,
.col select {
    width: 85%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    border: none;
}

.button-save {
    height: 4vh;
    width: 25vh;
    border-radius: 3vh;
    background-color: #8BD9CA;
    color: var(--cor5);
    margin-left: 77%;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    transition: 1s ease;
}

.hover-efect:hover {
    background-color: #7cc0b2 !important;
}

/* Estilo para o modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 2vh;
    p{
        margin: 0 0 2vh;
    }
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #cancelar,
  #confirmar {
      border: none;
      border-radius: 1vh;
      height: 3vh;
      width: 14vh;
      transition: background-color 0.3s ease;
      color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
      cursor: pointer;
  }
  
  #cancelar {
      background-color: #FE787F;
  }
  
  #cancelar:hover {
      background-color: #db686e;
  }
  
  #confirmar {
      background-color: #8BD9CA;
      margin-left: 1vh;
  }
  
  #confirmar:hover {
      background-color: #7cc0b2;
  }

  .btns{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    color: var(--cor5);
  }
  
  .botao-popup-estilo {
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    cursor: pointer;
  }

  